{% load django_bootstrap5 %}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
<body>

<div class="container">
    <h1>core</h1>

    {% if messages %}
    <script>
        {% for message in messages %}
            Toastify({
              text: "{{ message }}",
              duration: 3000,
            }).showToast();
        {% endfor %}
    </script>
{% endif %}

{#    {% include "_messages_as_toast.html" %}#}
</div>

</body>
</html>