<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>HTTP Call</title>
</head>
<body>

<h1>HTTP Call</h1>
<pre id="result"></pre>

<script>
  async function fetchAsync() {
    let html;
    try {
      // http://localhost:3000 페이지에서 http://localhost:8000 주소로 HTTP 요청
      const response = await fetch("/blog/whoami/");
      html = `상태코드: ${response.status}` + "\n\n" + await response.text();
    } catch (error) {
      html = "에러\n\n" + error.toString();
    }
    document.querySelector("#result").innerHTML = html;
  }

  fetchAsync();
</script>

</body>
</html>
