<style>
  form#django-form table { border-collapse: collapse; }
  form#django-form th, td { border: 1px solid black; padding: 5px; }
  form#django-form .errorlist { color: red; padding: 0; margin: 0; font-size: .5em; }
  form#django-form .errorlist li { list-style-type: none; }
</style>

{{ profile_user_form.media }}
{{ profile_form.media }}

<h2>프로필 수정 폼</h2>

<form id="django-form" action="" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <table>
        {{ profile_user_form.as_table }}
        {{ profile_form.as_table }}
    </table>
    <input type="submit" />
</form>