{# blog/templates/blog/_tag_list.html : HTML 레이아웃없이 컨텐츠로만 구성 #}


{% for tag in tag_list %}
    <div class="list-group-item d-flex justify-content-between align-items-center">
        {{ tag.name }}
        <span
                class="text-danger"
                style="cursor: pointer;"
                hx-trigger="click"
                hx-confirm="{{ tag.name }} 태그를 삭제하시겠습니까?"
                hx-delete="{% url 'blog:tag_delete' tag.pk %}"
                hx-target="closest .list-group-item"
                hx-swap="delete"
        >
            X
        </span>
    </div>

    {% if forloop.last %}
        {% if page_obj.has_next %}
            <div class="list-group-item list-group-item-action text-center"
                 hx-get="{% url 'blog:tag_list' %}?page={{ page_obj.next_page_number }}"
                 hx-trigger="revealed"
                 hx-swap="outerHTML transition:true">
                로딩 중 ...
            </div>
        {% else %}
            <div class="list-group-item list-group-item-action text-center">
                페이지 끝 입니다.
            </div>
        {% endif %}
    {% endif %}

{% endfor %}
