{# blog/templates/blog/base.html #}

{% load django_bootstrap5 %}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.10/htmx.min.js"></script>
</head>
<body>
<main style="width: 400px; margin: 1em;">
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
</main>
{% block extra-script %}{% endblock %}
</body>
</html>
