{# blog/templates/blog/post_list.html #}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>블로그</title>

    {# Minimal CSS Framework #}
    {# https://picocss.com/docs/ or https://andybrewer.github.io/mvp/ #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

</head>
<body>

<main class="container">
    <section>
        <h2>블로그 포스팅</h2>

        <form action="" method="get">
            <input type="text" name="query" value="{{ query }}"
                   placeholder="검색어를 입력해주세요."/>
            <input type="submit" value="검색"/>
        </form>

        <form action="/blog/new/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="message"
                   placeholder="메시지를 입력해주세요.">
            <input type="file" name="photo" placeholder="사진"/>
            <input type="submit" value="저장하기"/>
        </form>

        <table>
            {% for post in post_list %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.author.username }}</td>
                    <td>
                        {% for tag in post.tag_set.all %}
                            <mark>{{ tag.name }}</mark>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
</main>

</body>
</html>
