{# blog/templates/blog/tag_list.html #}
{% extends "blog/base.html" %}

{% block title %}태그 목록{% endblock %}

{% block content %}
    <h2>태그 목록</h2>

    <div hx-get="{% url 'blog:tag_new' %}" hx-trigger="load" hx-get-with-timestamp></div>

    <button class="btn btn-primary my-3"
            hx-get="{% url 'blog:tag_list' %}"
            hx-target="#tag-list-container"
            hx-swap="innerHTML transition:true"
    >새로고침
    </button>

    <div id="tag-list-container">
        {% include "blog/_tag_list.html" %}
    </div>
    <hr/>
    <a href="{% url 'blog:tag_new' %}">새 태그</a>
{% endblock %}
