{# blog/templates/blog/test.html #}

{% load component_tags %}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>htmx</title>
    {% component_css_dependencies %}
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.min.js"></script>
</head>
<body>

<div>
    {% component "hello-world" name="파이썬" %}{% endcomponent %}
    {% component "hello-world" name="장고" %}{% endcomponent %}
    {% component "hello-world" %}{% endcomponent %}
</div>

{% comment %}
<div>
    {% include "components-pure/hello-world.html" with name="파이썬" %}

    {% with name="장고" %}
        {% include "components-pure/hello-world.html" %}
    {% endwith %}

    {% include "components-pure/hello-world.html" %}
</div>
{% endcomment %}

<button
        hx-get="{% url 'blog:tag_list' %}"
        hx-trigger="click"
        hx-target="#tag-list-container"
        hx-swap="innerHTML transition:true"
>
    새로고침
</button>

<div id="tag-list-container"></div>

{% component_js_dependencies %}

</body>
</html>
