{# blog/templates/blog/test.html #}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>vanilla js</title>
    <style>
        /* show 클래스가 적용되면, 애니메이션과 함께 투명도(opacity)가 1로 변경 */
        #tag-list-container {
            transition: opacity 300ms ease-in-out;
            opacity: 0;
        }

        #tag-list-container.show {
            opacity: 1;
        }
    </style>
</head>
<body>

<button id="refresh-button">새로고침</button>

<div id="tag-list-container"></div>

<script>
  const buttonEl = document.querySelector("#refresh-button");
  const containerEl = document.querySelector("#tag-list-container");

  buttonEl.onclick = async () => {
      const response = await fetch('/blog/tags/')
      const htmlText = await response.text();

      const parser = new DOMParser();
      const document = parser.parseFromString(htmlText, "text/html");
      console.log(document.body.innerHTML);

      containerEl.innerHTML = document.body.innerHTML;

      containerEl.classList.add("show");
  };

</script>

</body>
</html>
