{% load component_tags static %}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>장고 프로젝트</title>
    <link rel="stylesheet" href="{% static 'bootstrap/5.3.3/css/bootstrap.min.css' %}"/>
    {% component_css_dependencies %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                장고 프로젝트
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search"
                       class="form-control form-control-dark text-bg-dark"
                       placeholder="Search..."
                       aria-label="Search">
            </form>

            <div class="text-end">
                {% if not user.is_authenticated %}
                    <a href="{% url 'accounts:login' %}"
                       class="btn btn-outline-light me-2">로그인</a>
                    <a href="{% url 'accounts:signup' %}"
                       class="btn btn-warning">회원가입</a>
                {% else %}
                    <a href="{% url 'accounts:profile' %}"
                       class="btn btn-outline-light me-2">프로필</a>
                    <a hx-post="{% url 'accounts:logout' %}"
                       hx-target="body"
                       hx-push-url="true"
                       class="btn btn-warning">로그아웃</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<main class="py-5">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</main>

<footer class="text-body-secondary py-5">
    <div class="container">
        &copy; 파이썬 사랑방
    </div>
</footer>

{% if debug %}
    <script src="{% static 'htmx/1.9.11/htmx.js' %}"></script>
{% else %}
    <script src="{% static 'htmx/1.9.11/htmx.min.js' %}"></script>
{% endif %}
<script src="{% static 'bootstrap/5.3.3/js/bootstrap.min.js' %}"></script>
{% component_js_dependencies %}
<script src="{% static 'htmx/ext/hx-get-with-timestamp.js' %}"></script>
<script src="{% static "toast-messages.js" %}"></script>

{% include "_messages_as_event.html" %}

</body>
</html>
