{# 장고 템플릿 엔진 주석 문법 : templates/index.html 경로의 파일 #}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>Melon List</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div class="container mx-auto">
    <h1 class="font-bold text-2xl">Melon List</h1>

    <form action="" method="get" autocomplete="off" class="my-4">
        <input type="text" name="query" placeholder="검색어를 입력해주세요." autofocus
               value="{{ query }}"
               class="w-full p-2 border rounded focus:outline-none focus:ring"
        >
    </form>

    <table class="min-w-full bg-white border border-gray-300 divide-y divide-gray-300">
        <thead>
        <tr class="text-center">
            <th class="py-2 px-4 border-b">곡명</th>
            <th class="py-2 px-4 border-b">가수</th>
        </tr>
        </thead>
        <tbody>
        {% for song in song_list %}
        <tr class="hover:bg-gray-200">
            <td class="py-2 px-4">{{ song.곡명 }}</td>
            <td class="py-2 px-4">{{ song.가수 }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
