{% load component_tags %}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% component_css_dependencies %}
</head>
<body>
<h1>컴포넌트 테스트</h1>

{% component "hello-world" name="이진석" id="hello" %}{% endcomponent %}

<script>
  document.querySelector("#hello").addEventListener("color-changed", (e) => {
    console.log("color-changed :", e);
  });
</script>

</body>
{% component_js_dependencies %}
</html>