{% load i18n %}

{% for comment in comment_list %}
    <div class="d-flex flex-row p-3">
        {% if comment.author.profile.avatar %}
            <img src="{{ comment.author.profile.avatar.url }}"
                 class="rounded-circle me-3"
                 style="width: 60px; height: 60px;"
                 alt="{{ comment.author.username }}'s Avatar">
        {% endif %}
        <div class="w-100">
            <div class="d-flex flex-row align-items-center gap-3">
                <span>{{ comment.author.username }}</span>
                {% language "en-us" %}
                    {{ comment.created_at|timesince }} ago
                {% endlanguage %}
            </div>
            <div class="mb-1">
                {{ comment.message }}
            </div>
            <div class="d-flex flex-row gap-2">
                <a href="#"
                   hx-get="{% url 'photolog:comment_edit' comment.note.pk comment.pk %}"
                   hx-get-with-timestamp
                   hx-target="body"
                   hx-swap="beforeend"  {# body 내용 끝에 추가 #}
                   class="text-white text-decoration-none">
                    수정하기
                </a>
                <a href="#"
                   hx-post="{% url 'photolog:comment_delete' comment.note.pk comment.pk %}"
                   hx-confirm="Are you sure?"
                   hx-swap="none"
                   class="text-white text-decoration-none"
                >
                    삭제하기
                </a>
            </div>
        </div>
    </div>
{% endfor %}
