{% load component_tags crispy_forms_tags partials %}

{# django-components 템플릿을 렌더링하는 템플릿에 </head> 태그가 없다면 아래 템플릿 태그를 써줘야 CSS 코드가 주입 #}
{% component_css_dependencies %}

{% partialdef form %}
    {% crispy form %}
{% endpartialdef %}

{% if request.method == "POST" %}
    {% partial form %}
{% else %}
    {% component "modal-form" %}
        {% fill "modal-title" %}
            {% if not form.instance.pk %}새 댓글{% else %}댓글 수정{% endif %}
        {% endfill %}
        {% fill "modal-body" %}
            {% partial form %}
        {% endfill %}
    {% endcomponent %}
    <script>
      (function() {
        const modalEl = document.currentScript.previousElementSibling;
        document.body.addEventListener("refresh-comment-list", () => {
          htmx.trigger(modalEl, "hide");
        });
      })();
    </script>
{% endif %}

{# django-components 템플릿을 렌더링하는 템플릿에 </body> 태그가 없다면 아래 템플릿 태그를 써줘야 JS 코드가 주입 #}
{% component_js_dependencies %}
