{% load component_tags crispy_forms_tags partials %}

{% partialdef form %}
    {% crispy form %}
{% endpartialdef %}

{% if request.method == "POST" %}
    {% partial form %}
{% else %}
    {% component "modal-form" %}
        {% fill "modal-title" %}
            {% if not form.instance.pk %}새 댓글{% else %}댓글 수정{% endif %}
        {% endfill %}
        {% fill "modal-body" %}
            {% partial form %}
        {% endfill %}
    {% endcomponent %}
    <script>
      (function() {
        const modalEl = document.currentScript.previousElementSibling;
        document.body.addEventListener("refresh-comment-list", () => {
          htmx.trigger(modalEl, "hide");
        });
      })();
    </script>
{% endif %}
