{% if request.user.username != username %}
    {% if is_follower %}
        <a href="#"
           hx-post="{% url 'photolog:user_unfollow' username %}"
           hx-swap="outerHTML"
           class="btn btn-sm btn-primary">
            <i class="bi bi-person-check-fill"></i>
            팔로잉 중
        </a>
    {% else %}
        <a href="#"
           hx-post="{% url 'photolog:user_follow' username %}"
           hx-swap="outerHTML"
           class="btn btn-sm btn-secondary">
            <i class="bi bi-person-add"></i>
            팔로잉 하기
        </a>
    {% endif %}
{% endif %}
