{% extends "photolog/base.html" %}

{% block photolog-content %}
    <div class="container">
        <div class="row">
            {% for note in note_list %}
                <div class="col-xl-3 col-lg-4 col-md-6 mt-4">
                    <div class="card">
                        <div class="card-header">
                            {{ note.title }}
                            by {{ note.author.username }}
                        </div>
                        <div class="card-body">
                            {% for photo in note.photo_set.all %}
                                <img src="{{ photo.image.url }}"
                                     class="img-fluid"
                                     alt="" />
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}