{% extends "accounts/base.html" %}

{% block content %}
    <h2>{{ user.username }}'s 프로필</h2>

    {% if user.profile.avatar %}
        <img src="{{ user.profile.avatar.url }}"
             alt="{{ user }}'s avatar"
             class="rounded-circle img-fluid"
             style="max-width: 25%;"
        />
    {% else %}
        <div class="alert alert-warning">등록된 아바타 이미지가 없습니다.</div>
    {% endif %}

    <ul>
        <li>SNS : {{ user.profile.url|default:"미등록" }}</li>
        <li>소개 : {{ user.profile.bio|default:"미등록" }}</li>
    </ul>

    <hr/>
    <a href="{% url 'accounts:profile_edit' %}" class="btn btn-primary btn-sm">프로필 수정</a>
{% endblock %}
