/* src/components/Avatar.css */

.avatar-container {
    position: relative;
    display: inline-block;
}

.avatar-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #eee;
}

.badge {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
