{% load component_tags %}

<div {% if id %}id="{{ id }}"{% endif %}
    class="modal fade modal-form-component" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% slot "modal-title" %}no title{% endslot %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% slot "modal-body" %}no body{% endslot %}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">저장</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
