.image-overlay-component {
    position: relative;
}

.image-overlay-component img {
    transition: transform 0.3s ease-in-out;
}

.image-overlay-component:hover img {
    transform: scale(1.2);
}

.image-overlay-component .overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    transition: opacity .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.image-overlay-component:hover .overlay {
    opacity: 1;
}

.image-overlay-component .text {
    color: white;
    font-size: 12px;
    text-align: center;
}
