{% extends "studio/base.html" %}
{% load component_tags %}

{% block studio-content %}
    <div class="card">
        <div class="card-header">
            {{ note.title }}
        </div>
        <div class="card-body">
            {% component "carousel" note.photo_set.all attr_name="image.url" %}{% endcomponent %}

            <hr/>
            {{ note.content|linebreaks }}

            {% comment %}
            <hr/>
            {% for photo in note.photo_set.all %}
                <img src="{{ photo.image.url }}"
                     alt="Note #{{ note.pk }}'s Photo"
                     class="img-fluid {% if not forloop.last %}mb-3{% endif %}"
                />
            {% endfor %}
            {% endcomment %}
        </div>
    </div>

    <div class="my-3">
        <a href="{% url 'studio:index' %}" class="btn btn-primary">목록으로</a>
        <a href="{% url 'studio:note_edit' note.pk %}" class="btn btn-success">수정하기</a>
    </div>
{% endblock %}
