{% extends "studio/base.html" %}
{% load static component_tags %}

{% block studio-content %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                {% if author.profile.avatar %}
                    <img src="{{ author.profile.avatar.url }}" class="rounded-circle"
                         alt="{{ author.username }}'s Avatar"
                         style="width: 128px;"
                    />
                {% endif %}

                <h2 class="my-3">@{{ author.username }}</h2>

                {% include "studio/_user_following_button.html" with author=author is_follower=follower_button.is_follower follower_count=follower_button.follower_count only %}
            </div>
        </div>
    </div>

    {% include "studio/_note_list.html" %}
{% endblock %}
