.carousel-component .carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

/*.carousel-component img {*/
/*    user-select: none;*/
/*    pointer-events: none;*/
/*}*/
