{# hottrack/templates/hottrack/base.html #}

{# 간략히 구현했지만 hottrack/templates/hottrack/index.html 레이아웃을 적용하기를 권장 #}

{% load django_bootstrap5 %}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>hottrack</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
