{% load django_bootstrap5 %}

{# 경로 : hottrack/templates/hottrack/index.html #}

<!doctype html>
<html lang="ko" data-bs-theme="dark">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>HotTrack</title>

    {# https://cdnjs.com/libraries/bootstrap #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.bundle.min.js"></script>

</head>
<body>

{# ref: https://getbootstrap.com/docs/5.3/examples/album/ #}

<header data-bs-theme="dark">
    <div class="collapse text-bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4>About</h4>
                    <p class="text-body-secondary">Add some information about the album below, the author, or any other
                        background context. Make it a few sentences long so folks can pick up some informative tidbits.
                        Then, link them off to some social networking sites or contact information.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4>계정</h4>
                    <ul class="list-unstyled">
                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'accounts:login' %}?next={{ request.path }}" class="text-white">로그인</a></li>
                            <li><a href="{% url 'accounts:signup' %}?next={{ request.path }}" class="text-white">회원가입</a></li>
                        {% else %}
                            <li><a href="{% url 'accounts:profile' %}" class="text-white">프로필</a></li>
                            <li>
                                <form action="{% url 'accounts:logout' %}" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ request.path }}" />
                                    <button type="submit" class="btn btn-link text-white p-0">로그아웃</button>
                                </form>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2"
                     viewBox="0 0 24 24">
                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                    <circle cx="12" cy="13" r="4"></circle>
                </svg>
                <strong>HotTrack</strong>
            </a>

            <form action="" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark text-bg-dark"
                       placeholder="검색어를 입력해주세요."
                       name="query"
                       value="{{ request.GET.query }}"
                       {# value="{{ query }}" #}
                />
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">HotTrack</h1>
                <p class="lead text-body-secondary">
                    HotTrack에서 최신 K-POP 트렌드를 한 눈에! 실시간 차트, 뜨거운 뮤직 비디오, 가장 핫한 아티스트까지, K-POP의 모든 것을 만나보세요.
                </p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Signup</a>
                    <a href="#" class="btn btn-secondary my-2">Login</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for song in song_list %}
                    <div class="col">
                        {% include "hottrack/_song.html" with song=song only %}
                    </div>
                {% endfor %}
            </div>

            {# include "hottrack/_pagination.html" with page_obj=page_obj only #}
            <div class="my-5 d-flex justify-content-center">
                {% bootstrap_pagination page_obj %}
            </div>
        </div>
    </div>

</main>

<footer class="text-body-secondary py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>
        <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
                href="/docs/5.3/getting-started/introduction/">getting started guide</a>.</p>
    </div>
</footer>

</body>
</html>