{# hottrack/song_archive_year.html #}

{% extends "hottrack/base.html" %}

{% block content %}

    <div class="p-3 d-flex gap-3">
        <div>
            <h2>{{ year|date:"Y년" }}</h2>

            <div class="text-center">
                <div class="btn-group">
                    {% if previous_year %}
                        <a href="{% url 'song_archive_year' previous_year.year %}"
                           class="btn btn-outline-primary">
                            {{ previous_year|date:"Y년" }}
                        </a>
                    {% endif %}
                    {% if next_year %}
                        <a href="{% url 'song_archive_year' next_year.year %}"
                           class="btn btn-outline-primary">
                            {{ next_year|date:"Y년" }}
                        </a>
                    {% endif %}
                </div>
            </div>

            <ul>
                {% for song in song_list %}
                    <li>
                        {{ song.name|truncatechars:20 }}
                        <small class="text-secondary fw-light">{{ song.release_date|date:"Y년 m월 d일" }}</small>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3>Nav</h3>
            <ul>
                {% for date in date_list %}
                    <li>{{ date|date:"Y년 m월" }}</li>
                    {% comment %}
                    <li>
                        <a href="{% url 'song_archive_month' date.year date.month %}">
                            {{ date|date:"Y년 m월" }}
                        </a>
                    </li>
                    {% endcomment %}
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}