{# hottrack/song_archive_day.html #}

{% extends "hottrack/base.html" %}

{% block content %}

    <div class="p-3 d-flex gap-3">
        <div>
            <h2>{{ day|date:"Y년 m월 d일" }}</h2>

            <div class="text-center">
                <div class="btn-group">
                    {% if previous_day %}
                        <a href="{% url 'song_archive_day' previous_day.year previous_day.month previous_day.day %}"
                           class="btn btn-outline-primary">
                            {{ previous_day|date:"Y년 m월 d일" }}
                        </a>
                    {% endif %}
                    {% if next_day %}
                        <a href="{% url 'song_archive_day' next_day.year next_day.month next_day.day %}"
                           class="btn btn-outline-primary">
                            {{ next_day|date:"Y년 m월 d일" }}
                        </a>
                    {% endif %}
                </div>
            </div>

            <ul>
                {% for song in song_list %}
                    <li>
                        {{ song.name|truncatechars:20 }}
                        <small class="text-secondary fw-light">{{ song.release_date|date:"Y년 m월 d일" }}</small>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3>Nav</h3>
            <div class="alert alert-info">
                지난/다음 달 context data를 지원
            </div>
            <div class="btn-group d-flex w-100">
                <a href="{% url 'song_archive_month' previous_month.year previous_month.month %}"
                   class="btn btn-primary">
                    지난 달
                </a>
                <a href="{% url 'song_archive_month' next_month.year next_month.month %}"
                   class="btn btn-primary">
                    다음 달
                </a>
            </div>
        </div>
    </div>

{% endblock %}