{# hottrack/song_archive_week.html #}

{% extends "hottrack/base.html" %}

{% block content %}

    <div class="p-3 d-flex gap-3">
        <div>
            <h2>{{ week|date:"Y년 W주" }}</h2>

            <div class="text-center">
                <div class="btn-group">
                    {% if previous_week %}
                        <a href="{% url 'hottrack:song_archive_week' previous_week.year previous_week.isocalendar.week %}"
                           class="btn btn-outline-primary">
                            {{ previous_week|date:"Y년 W주" }}
                        </a>
                    {% endif %}
                    {% if next_week %}
                        <a href="{% url 'hottrack:song_archive_week' next_week.year next_week.isocalendar.week %}"
                           class="btn btn-outline-primary">
                            {{ next_week|date:"Y년 W주" }}
                        </a>
                    {% endif %}
                </div>
            </div>

            <ul>
                {% for song in song_list %}
                    <li>
                        {{ song.name|truncatechars:20 }}
                        <small class="text-secondary fw-light">{{ song.release_date|date:"Y년 m월 d일" }}</small>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
