/* components/src-django-components/hello_world/hello_world.css */
/*  - 각 컴포넌트마다 반복되는 것이 아니라, 웹페이지에서 1회만 수행 */

.hello-world-component { display: inline-block; border: 1px dashed #ccc; padding: 10px; }
.hello-world-component h1 { cursor: pointer; color: blue; margin: 0; }
.hello-world-component h1:hover { color: red; }
